@media (max-width: 480px) {


    .titlesDiv {
        position: relative;
        /* width: 100%; */
        width: fit-content;
        left: 0px;
        margin-left: 0px;
        /* font-size: 85%; */
    }
    .titlesDiv h1, .titlesDiv h2 {
        letter-spacing: 0px;
        font-weight: 200;
    }
    .h1title {
        font-size: 1.75em;
        width: auto;
    }
    .titlesDiv h1 {
        position: relative;
        width: auto;

        font-weight: 300;

        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-block-start: 0.4em;
        padding-block-end: 0;

        padding-left: 12px;
    }
    .titlesDiv h2 {
        text-align: center;
        left: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .linkTitle {
        width: auto;
    }

    .haikusContentImgDiv {
        position: relative;
        /* width: 50%; */
        width: auto;
    }

    .modalPreviewContent-HaikuMobil {
        width: 95% !important;
    }

    .contactContent {
        /* margin-top: 20px; */
    }

    .blueGlowFix-haikus {
        height: auto !important;
    }


    .mentionsLegales-content {
        margin: 22px auto;
        width: 80%;
    }

    .contactFormWrapper {
        width: 85%;
        margin: 25px auto;

    }
    .contactForm {
        width: 100%;

        /* padding: 13px 20px 30px 20px; */
        padding: 0px;

        border-radius: 9px;
    }
    .formLinePc {
        gap: 0px;
        flex-direction: column;
    }


    .titleDiv-Haikus {
        z-index: 99999999;
    }
    .titleDiv-Haikus .h1title {
        padding: 13px 20px;
    }


    .titleDiv-Contact {
        z-index: 99999999;
    }
    .titleDiv-Contact .h1title {
        padding: 13px 20px;
    }


    .titleDiv-Peinture {
        z-index: 99999999;
    }
    .titleDiv-Peinture .h1title {
        padding: 13px 20px;
    }


    .contactFormIconTitle {
        font-size: 2em;
    }

    .spanContactFormMobile {
        text-align: left;
    }


    .contactForm input, .contactForm textarea {
        background-color: #e1e9ef;
        color: black;
    }


    .contactFormSubmitBtn {
        width: 35%;
        padding: 9px 3px !important;
        margin: 0px auto 0px auto;
        font-size: 1.1em;
    }

    #nextHaikuDivMobile {
        position: absolute;
        font-size: 1.7em;
        color: #ffecbc;
        right: auto;
        top: 50%;
        left: 110%;
        transform: translateY(-50%);
    }

    #previousHaikuDivMobile {
        position: absolute;
        font-size: 1.7em;
        color: #ffecbc;
        left: auto;
        top: 50%;
        right: 110%;
        transform: translateY(-50%);
    }


    .subTitleRubrique {
        width: 90%;
        margin: 0 auto !important;
    }



    #modalPreviewNext:hover {
        opacity: 1;
        transform: translateX(0px);
    }
    #modalPreviewNext:active {
        animation: flashNavArrow 0.3s 0s ease;
    }
    @keyframes flashNavArrow {
        0% {
            filter: saturate(1);
        }
        50% {
            filter: saturate(0);
        }
        100% {
            filter: saturate(1);
        }
    }


    #modalPreviewPrevious:hover {
        opacity: 1;
        transform: translateX(0px);
    }
    #modalPreviewPrevious:active {
        animation: flashNavArrow 0.3s 0s ease;
    }
    @keyframes flashNavArrow {
        0% {
            filter: saturate(1);
        }
        50% {
            filter: saturate(0);
        }
        100% {
            filter: saturate(1);
        }
    }


    .subTitleSectionWrapper {
        margin-bottom: 13px;
        margin-block-start: 0;
    }
    .subTitleSection {
        font-size: 1.25em;
        margin-left: 5px;
    }

    .subTitleAcryliqueLinks {
        margin-bottom: 15px;
        gap: 11px;

    }
    .subTitleAcrylique {
        margin-bottom: 15px;
        gap: 11px;
    }


    #prevRubriqueBtn, #nextRubriqueBtn {
        font-size: 1.1em;
    }

    .acryliqueBackBtn {
        font-size: 1.3em;
    }

    #main {
        height: -webkit-fill-available;
    }


    .svgArbreGroup-rubrique1 {
        transform: translate(0px, 1036px) scale(0.060, -0.060) !important;
    }


    #nextRubriqueBtn, #prevRubriqueBtn {
        padding: 5px 12px;
        border-radius: 6px;

        border: 1px solid #e8ca7d21;
        background-color: #e8ca7d1c;
    }


    .gallery-item-section1fix {
        height: 60px !important;
    }
    .gallery-item-section1fix img {
        width: 60px !important;
        height: 60px !important;
    }


    .subTitle {
        margin: 0;
        font-size: 1.3em;

        font-family: 'Montserrat Alternates', sans-serif;
        background: -webkit-linear-gradient(white, #ffffff42);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 400;
    }

    .subSubTitle {
        text-align: center;
        font-size: 1.2em;
    }

    .acryliqueBackBtnAccueil {
        font-size: 1.6em;
    }

    .acryliqueSectionList {
        font-family: 'Montserrat Alternates', sans-serif;
        gap: 1vh;
    }

    .modalPreviewContent {
        width: 85%;
    }

    #modalPreviewImg {
        width: 100%;
        /* height: auto; */
        height: 40vh;
        margin-top: 30px;

        filter: drop-shadow(0px 0px 7px #e8ca7d);
    }


    .modalPreviewTitle {

    }


    .closeModalPreview {
        /* top: 21px;
        right: 23px; */

        padding: 9px;
        top: 10px;
        right: 9px;
    }

    .modalPreviewContent h2 {
        width: 80%;
        margin: 10px auto;

        min-height: 64px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }


    #haikuContent {
        position: relative;
        left: 13px;
    }


    .svgArbre {
        overflow: visible !important;
    }

    .svgArbreGroup-rubrique2 {
        transform: translate(-26px, 1076px) scale(0.1, -0.1) !important;
    }


    #modalPreviewPrevious, #modalPreviewNext {
        width: 85pt;
        height: 35pt;
    }


    #link-section1 {
        border-radius: 4px;
        padding: 1px 10px 5px 10px;
        /* background: linear-gradient(to left, #3a7c91, rgba(0, 0, 0, 0.1)), url("./toiles/toilesButtonBg/gradient/esprit_et_epouse-min_trimmedMobile.png"); */
        background: rgba(0, 0, 0, 0);
        background-size: cover;
        background-position-y: center;
    }
    #link-section2 {
        border-radius: 4px;
        padding: 1px 10px 5px 10px;
        /* background: linear-gradient(to left, #3a7c91, rgba(0, 0, 0, 0.1)), url("./toiles/toilesButtonBg/gradient/flute_enchantee-min.png"); */
        background: rgba(0, 0, 0, 0);
        background-size: cover;
        background-position-y: center;
    }
    
    #link-section3 {
        border-radius: 4px;
        padding: 1px 10px 5px 10px;
        /* background: linear-gradient(to left, #3a7c91, rgba(0, 0, 0, 0.1)), url("./toiles/toilesButtonBg/gradient/licorne-min_trimmedMobile.png"); */
        background: rgba(0, 0, 0, 0);
        background-size: cover;
        background-position-y: center;
    }
    #link-section4 {
        border-radius: 4px;
        padding: 1px 10px 5px 10px;
        /* background: linear-gradient(to left, #914e3a, rgba(0, 0, 0, 0.1)), url("./toiles/toilesButtonBg/gradient/3contes-min.png"); */
        background: rgba(0, 0, 0, 0);
        background-size: cover;
        background-position-y: center;
    }
    #link-section5 {
        border-radius: 4px;
        padding: 1px 10px 5px 10px;
        /* background: linear-gradient(to left, #c58e52, rgba(0, 0, 0, 0.1)), url("./toiles/toilesButtonBg/gradient/arbre_de_vie-min.png"); */
        background: rgba(0, 0, 0, 0);
        background-size: cover;
        background-position-y: center;
    }

















    .homepageDivider {
        height:1px; 
        width:0%; 
        margin: 0 auto;
        background-color:white;
      
        animation: dividerGrowth 1s 0.5s forwards ease, shink 1s 3.5s forwards ease;
    }
    @keyframes dividerGrowth {
        from {
            width: 0%;
        }
        to {
            width:80%; 
        }
    }
    @keyframes shink {
        from {
            width:80%;
        }
        to {
            width:0%;
        }
    }


    /* .main-header {
    position: relative;
    bottom: 70px;
    }

    .galleryContainer {
        transform: translateY(5%); 
        width:99%; 
        margin:0 auto;
    }

    .gallery-item img {
        width: 150px !important;
        height: 150px !important;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s;
    } */




















    /* Haikus.html */

    .haikusContentContainer {
        padding: 0;

        flex-direction: column-reverse;
        gap: 25px;
        width: 100%;
    }

    .haikuTitleNav-mobile {
        position: relative;
    }


    .haikusContentImg {
        /* height: 27vh; */
        height: 30vh;
    }

    .haikusContentDescriptionDiv {
        color: whitesmoke;
        /* text-align: center; */
        text-align: left;
        line-height: 1.2em;
        /* width: 90%; */
        width: auto;
    }

    .haikusSubTitle {
        margin-block-start: 0.5em;
        margin-block-end: 0.2em;
    }

      
    .haikusContentDescriptionDiv h3 {
        margin-block-end: 1.5em;
        transform: translateX(0px);

        text-align: center;
    }







    .isDesktop {
        display: none;
    }
    .isDesktopFlex {
        display: none;
    }
    .isMobile {
        display: block;
    }
    .isMobileFlex {
        display: inline-flex;
    }




    .contactFormDisclaimer {
        margin: 0px auto 25px auto;
        width: 95%;
    }





    /* Contact.html */
    .contactSubTitle {
        margin-top: 20px;
    }
  
    #plz-form-c50d7ff1-e8c3-4e7e-b889-f6fc24999c54 {
        width: 90% !important;
        margin: 10px auto !important;
        background-color: rgba(255, 255, 255, 0) !important;
    }










}